Django==4.2.9
psycopg2-binary==2.9.9
python-dotenv==1.0.0
zappa==0.58.0
pillow==10.1.0
django-storages==1.14.2
boto3==1.33.11
django-crispy-forms
opencv-python-headless==4.9.0.80
openai==1.14.3
numpy==1.24.4
