{% extends 'index.html' %}

{% block title %}Tabla Nutricional{% endblock %}

{% block content %}
<h2 class="medium-color">{{ action }} Tabla Nutricional</h2>
{% if user.is_authenticated %}
<div class="">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-center mb-3">
            <button type="submit" class="btn custom-rounded custom-btn">Guardar</button>
            <a href="{% url 'nutritional_table:list' %}">
                <button type="button" class="btn custom-rounded custom-pink-btn">Cancelar</button>
            </a>
        </div>
        </form>
</div>
    
{% else %}
        <p>Inicia sesión para acceder a todas las características</p>
{% endif %}
{% endblock %}