$dark-primary-color: #3F4359;
$dark-form-control-color: #39444d;
$dark-theme-text: #E0E0E0 !default;
$dark-select-bg-color: #39464e;
$white: #fff;
$dark-theme-grey: #a6a6a6;
$dark-drop-bg: #46505a;
$dark-hover:  #4e5c67;