{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mi Sitio Web{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Otros archivos CSS o scripts adicionales -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="icon" href="/static/images/Foodlens-ff.png" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<main>
<div id="main-container" class="gx-container main-theme main-theme-bg-color">
    {% if request.user.is_authenticated %}
    <nav id="pruebacolor" class="navbar navbar-expand-lg nav-color border-bottom border-body">
        <a class="navbar-brand light-color" href="#"><img id="id_logo_img" alt="foodlens"
            src="/static/images/Foodlens.png" class="logo-img"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-caret-down navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-2">
                    <a href="{% url 'nutritional_table:create' %}" role="button" class="nav-link btn btn-sm custom-rounded custom-blue-btn">
                        Agregar nueva tabla nutricional
                    </a>
                </li>
                <li class="nav-item dropdown"> <!-- Posicionar a la derecha y agregar margen -->
                    <div class="dropdown">
                        <a href="#" class="nav-link btn btn-sm custom-btn custom-rounded dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.name %}
                                {{ user.name }}
                            {% else %}
                                Más opciones
                            {% endif %}
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'authentication:profile-update' user.id %}">Editar perfil</a>
                            <a href="{% url 'authentication:logout' %}" class="dropdown-item" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                {% csrf_token %}
                                Cerrar sesión
                            </a>
                            <form id="logout-form" action="{% url 'authentication:logout' %}" method="post" style="display: none;">
                                {% csrf_token %}
                            </form>

                        </div>
                    </div>
                </li>
        
                
            </ul>
        </div>
        
    </nav>
    {% endif %}
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

 <!--    <div class="container-fluid nav-color">
        <div class="row">
            <div class="col d-flex justify-content-center">Foodlens</div></div>
    </div> -->
</div>
</main>
<footer>
    <div class="row">
        <div class="col d-flex justify-content-center">Derechos de autor &copy; 2024 Foodlens</div>
    </div>
</footer>

<script>
    document.getElementById('dropdownMenu').addEventListener('change', function() {
        var selectedId = this.value;
        var selectedOption = this.options[this.selectedIndex];
        var title = selectedOption.innerText;
        var description = selectedOption.getAttribute('data-description');
        document.getElementById('cardTitle').innerText = title;
        document.getElementById('cardDescription').innerText = description;
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Otros scripts adicionales -->
<!-- Bootstrap CSS -->

<!-- Bootstrap JS y Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
